{{- $pkg := urls.Parse (.Title | absURL) -}}
{{- $pkgURL := printf "https://%s%s" $pkg.Host $pkg.RequestURI -}}
{{- $repo := urls.Parse .Page.Params.Repository -}}
{{- $repoURL := printf "https://%s%s" $repo.Host $repo.RequestURI -}}
<!DOCTYPE html>
<html>
  <head>
    {{ if .Page.Params.Repository -}}
    <meta name="go-import" content="{{ $pkgURL }} git {{ $repoURL}} ">
    <meta name="go-source" content="{{ $pkgURL }} {{ $repoURL }} {{ $repoURL }}/tree/master{/dir} {{ $repoURL }}/blob/master{/dir}/{file}#L{line}">
    {{- end}}
    <title>{{ .Permalink }}</title>
    <link rel="canonical" href="{{ .Permalink }}"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    {{ if .Page.Params.Redirect }}<meta http-equiv="refresh" content="0; url={{ .Permalink }}" />{{ end }}
  </head>
  {{ if not .Page.Params.Redirect }}
  <body>
    <h2>Redirect disabled</h2>
  </body>
{{ end }}
</html>