{{ define "main" }}
{{ $p := slice "package" }}
{{ $paginator := .Paginate (where .Site.Pages.ByTitle "Params.tags" "intersect" $p) }}
      <div class="row u-full-height">
        <table class="u-full-width">
          <thead>
            <tr>
              <th>Package</th>
              <th>Source</th>
              <th>Documentation</th>
              </tr>
          </thead>
          <tbody>
            {{- range $paginator.Pages -}}
            {{- partial "package.html" . -}}
            {{- end }}
          </tbody>
        </table>

        {{ template "_internal/pagination.html" . }}
      </div>
{{ end }}