{{ define "redirect" }}
<meta name="go-import" content="{{ partial "pkg.html" . }} git https://{{ partial "repo.html" . }}">
<meta name="go-source" content="{{ partial "pkg.html" . }} https://{{ partial "repo.html" . }} https://{{ partial "repo.html" . }}/tree/main{/dir} https://{{ partial "repo.html" . }}/blob/main{/dir}/{file}#L{line}">
{{ if .Site.Params.Redirect }}<meta http-equiv="refresh" content="0; url=https://{{ partial "repo.html" . }}">{{ end }}
{{ end }}

{{ define "main" }}
{{ if .Site.Params.Redirect }}
<h4>Redirecting...</h4>
{{ else }}
  <h4>Redirect disabled</h4>
  <pre><code class="language-html">
    &lt;meta name="go-import" content="{{ partial "pkg.html" . }} git https://{{ partial "repo.html" . }}"&gt;<br />
  </code></pre>

  <pre><code class="language-html">
    &lt;meta name="go-source" content="{{ partial "pkg.html" . }} https://{{ partial "repo.html" . }}
    https://{{ partial "repo.html" . }}/tree/main{/dir}
    https://{{ partial "repo.html" . }}/blob/main{/dir}/{file}#L{line}"&gt;
  </code></pre>

  <pre><code class="language-html">
    &lt;meta http-equiv="refresh" content="0; url=https://{{ partial "repo.html" . }}"&gt;<br />
  </code></pre>
  {{ end }}
{{ end }}